<div class="container px-5">
  <div class="row">

   <div class="col-md-9">
   <h2>TOP PAGE</h2>
   <div>
    <%= link_to '投稿フォーム', new_post_path %>
   </div>
 </div>
 
 
  <%= render 'sidebar', user: @user %>

  



   </div>
</div>