<% if post.favorited_by?(current_user) %>
<p>この記事にいいねをしました
  <%= link_to post_favorites_path(post), method: :delete, remote: true do %>
    ♥<%= post.favorite.count %> いいね
  <% end %>
</p>
<% else %>
<p>この記事が参考になったら→
  <%= link_to post_favorites_path(post), method: :post, remote: true do %>
    ♡<%= post.favorite.count %> いいね
  <% end %>
</p>
<% end %>