@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';


.logo-size{
  width: 60px;
  height: 60px;
}

.img-container img {
  width: 200px;
  height: 180px;
  object-fit: cover;
}