<div class="container mx-auto add-font-rocknroll">
  <div class="text-center mt-5">
    <div>
      <h4>本当に退会しますか？</h4>
      <p>退会すると、会員登録情報や
        <br>これまでの投稿などが削除されます。
        <br>退会する場合は、「退会する」をクリックしてください。
      </p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="offset-3 col-3 text-align-center">
      <%= link_to '退会しない', my_page_users_path, class: "btn btn-info" %>
    </div>
    <div class="col-3 text-align-center">
      <%= form_with model: @user, url: withdraw_users_path, method: :patch do |f| %>
        <%= f.hidden_field :is_deleted, value: true %>
        <%= f.submit "退会する", class: "btn btn-danger" %>
    <% end %>
    </div>
  </div>

</div>