<footer class="footer bg-dark border border-warning">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="text-muted inner">&copy; 2023 jokyoshitemo-jimotomen</p>
      </div>
    </div>
  </div>
</footer>

