<div class="container add-font">
  <div class="col-xs-offset-5" style="margin-top: 20vh; margin-bottom: 20vh; margin-left: 30vh;">
    <h1>ご要望いただきありがとうございました</h1>
    <h5>確認後、内容が適切であればコミュニティを作成させていただきます</h5>
  </div>
  <div class="field col-auto pb-lg-5 add-font-rocknroll">
    <%= link_to "トップページへ", root_path, class: "btn btn-outline-secondary ml-3" %>
  </div>
</div>