<div class="container add-font-rocknroll mb-5 text-align-center">
  <div class="col-12 mt-5 ">
    <h1>ご要望いただきありがとうございました</h1>
    <h5>確認後、内容が適切であればコミュニティを作成させていただきます</h5>
  </div>
  <div class="add-font-rocknroll pt-3 mt-5">
    <%= link_to "トップページへ", root_path, class: "btn btn-outline-secondary ml-3" %>
  </div>
</div>